# Files to be excluded 

*.pdf
*.txt
*.DS_Store
*.mov
FVis_output*
*.gif
*.mp4

# Folders

__pycache__/

# Including reports

!*/figures/*.png
!*/figures/animations/*.gif
!*/figures/sanity-check/*.png
!*/figures/sanity-check/animations/*.gif
!*/figures/triple-gaussian/*.png
!*/figures/triple-gaussian/animations/*.gif
!Modelling*
!*interiors.pdf
!README.txt
!info.txt